{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block section_slider %}
<div id="player"></div>
{% endblock %}

{% block section_services %}
<h2>About Our Services</h2>

<p> Ut placerat, odio efficitur pellentesque semper, enim felis dignissim magna, et sagittis arcu dolor sit amet
    mauris. Sed neque odio, bibendum id nulla non, auctor pulvinar quam. Mauris mollis massa in fringilla tincidunt.
    Nullam vestibulum purus augue, quis sollicitudin nunc scelerisque sit amet. Maecenas dictum aliquet turpis a tempor.
    Aenean elementum elementum varius.Quisque vitae nulla et arcu fermentum consequat. Integer imperdiet posuere risus sed mattis.
    Duis iaculis tortor a augue dictum, sit amet egestas lectus molestie. Sed eleifend ultricies augue tincidunt elementum.
    Quisque convallis non augue eget aliquet. Curabitur varius, nisi quis sagittis hendrerit, justo ligula aliquet ligula,
    id faucibus erat magna vitae leo. Quisque eleifend leo non leo efficitur, vitae malesuada sem viverra. Etiam et arcu at
    ligula ultricies interdum. Pellentesque a aliquet sem. Maecenas accumsan tellus ac enim viverra, et tincidunt felis euismod. 
    Nunc condimentum porttitor aliquam. Maecenas nec velit hendrerit nibh ultricies tristique vitae vitae nunc. Donec condimentum,
    turpis a tempor volutpat, magna magna sagittis libero, vitae blandit nisl lectus at magna. Nunc fringilla auctor ornare.
    Etiam vitae pulvinar arcu, ac efficitur tortor. Proin scelerisque vel orci a ultrices. Sed sed auctor dolor. Curabitur vel dui lorem. 
</p>
{% endblock %}


{% block one_quarter %}



{% endblock %}