{% extends 'base.html' %}

{% block title %}
<title>Registration</title>
{% endblock %}

{% block section_slider %}

{% endblock %}

{% block section_services %}
<div id="container">
        <p>
        <h1>Create New User Account</h1>
        <hr>
        </p>
    
    <form action="{% url 'create_account' %}" method="post">
        {% csrf_token %}
       
        {{ form.as_p}}
        <button type="submit">Register</button>
    </form>
    <hr>
    </div>

{% endblock %}


{% block one_quarter %}



{% endblock %}